* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}
i{
    cursor: pointer;
}

.instagram-post{
    width: 430px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.instagram-post--header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.post-title{
    font-size: 1em;
}

.instagram-post--header .left{
    display: flex;
    align-items: center;
}
.instagram-post--header .right{
    padding-right: 5px;
}

.instagram-post-image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.instagram-post-body{
    padding: 5px 18px;
    font-size: .9em;
    padding-bottom: 25px;
}

.instagram-post-body .body-header--actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 10px;
    padding-right: 5px;
}

.instagram-post-body .body-content .likes{
    margin-bottom: 10px;
}

.fa-heart:hover{
    color: #ff6b81;
}

.fa-comment:hover{
    color: #5352ed;
}

.fa-paper-plane:hover{
    color: #3742fa;
}

.fa-bookmark:hover{
    color: #ff6348;
}

.post-menu{
    list-style-type: none;
    background: #e4e4e4;
    position: relative;
    right: -20px;
    bottom: -20px;
}

